
<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>
          <span class="entypo-lifebuoy"></span>
          How can we help?
        </h2>
        <p>
          Please describe the problem you're having
        </p>
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Can't find the source code of this page" />
					      	<span class="input-group-btn">
					        	<button class="btn btn-primary" type="button">Search</button>
					      	</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="browse">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Browse by topic</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 topic">
        <a href="#">
          <span class="icon ion-clipboard"></span>
          <strong>Tasks and Projects</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-sm-4 topic">
        <a href="#">
          <span class="icon ion-gear-a"></span>
          <strong>Account settings</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-sm-4 topic">
        <a href="#">
          <span class="icon ion-card"></span>
          <strong>Billing information</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 topic">
        <a href="#">
          <span class="icon ion-person-stalker"></span>
          <strong>Users and coworkers</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-sm-4 topic">
        <a href="#">
          <span class="icon ion-upload"></span>
          <strong>Advanced options</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-sm-4 topic">
        <a href="#">
          <span class="icon ion-compose"></span>
          <strong>Customize this template</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 topic">
        <a href="#">
          <span class="icon ion-iphone"></span>
          <strong>Mobile</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-sm-4 topic">
        <a href="#">
          <span class="icon ion-search"></span>
          <strong>Search & Discussions</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
      <div class="col-sm-4 topic">
        <a href="#">
          <span class="icon ion-stats-bars"></span>
          <strong>Reports & Clients</strong>
        </a>
        <p>
          Learn how to change tasks and assign projects to all your teammates.
        </p>
      </div>
    </div>
  </div>
</div>
